In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## 1. Handle duplicate values

In [5]:
l = [1,2,3,4,4,4,5,5,6,7,8]

In [6]:
set(l)

{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
x = np.array([1,2,3,4,4,4,5,5,6,7,8])

In [9]:
np.unique(x)

array([1, 2, 3, 4, 5, 6, 7, 8])

In [14]:
df = pd.DataFrame({'col1':[1,2,2],
                   'col2':[2,3,3],
                   'col3':[3,2,2]})

In [15]:
df

   col1  col2  col3
0     1     2     3
1     2     3     2
2     2     3     2

In [17]:
df.drop_duplicates()

   col1  col2  col3
0     1     2     3
1     2     3     2

In [19]:
df[-df.duplicated()]

   col1  col2  col3
0     1     2     3
1     2     3     2

## 2. 
You are given two tables - friend_request and request_accepted. Friend_request contains requester_id, time and sent_to_id and request_accepted table contains time, acceptor_id and requestor_id. How will you determine the overall acceptance rate of requests? (Write in both Python and SQL)

In [ ]:
#SQL
SELECT SUM(IF(ra.acceptor_id is NULL,0,1))/SUM(1) AS acceptance_rate
FROM friend_request fr LEFT JOIN request_accepted ra ON ra.requester_id=fr.requester_id 
AND ra.acceptor_id=fr.sent_to_id;

In [ ]:
#Python
df = pd.merge(df_fr,df_ra,how='left',left_on=['requester_id','sent_to_id'],\
                     right_on=['requester_id','acceptor_id'])
acceptance_rate = len(df['acceptor_id'][df.acceptor_id>0])/df.shape[0]

## 3.

“Issuer” of a credit card are companies like Visa, Mastercard, American Express. Now we know the following rules:

CC number starts with: '4'
CC len : 16
Issuer: VISA

CC number starts with: '34', '37'
CC len : 15
Issuer : AMEX

CC number starts with: '36'
CC len : 14
Issuer : Diners Club

Credit card number starts with
'4026', '417500', '4405', '4508', '4844',
'4913', '4917'
CC len : 16
Issuer : VISAELECTRON

Now write Python scripts to identify the issuer of the following credit card numbers:

'4175004175004172' 
'4917491749174917'
'346416800707698'
'376416800707698'
'37641680070769832112'
'36641680070769'
'54545641680070769’

In [41]:
def issuer_identifier(num):
    l = ['4026', '4405', '4508', '4844','4913', '4917']
    if len(num)==16 and num[0]=='4':
        if (num[0:4] in l) or (num[0:6]=='417500'):
            return 'VISAELECTRON'
        else:
            return 'VISA'
    elif len(num)==15 and (num[0:2]=='34' or num[0:2]=='37'):
        return 'AMEX'
    elif len(num)==14 and num[0:2]=='36':
        return 'Diners Club'
    else:
        return 'N/A'

In [43]:
card_num = ['4175004175004172', 
'4917491749174917',
'346416800707698',
'376416800707698',
'37641680070769832112',
'36641680070769',
'54545641680070769']

for num in card_num:
    print 'The issuer of "{}": {}'.format(num,issuer_identifier(num))

The issuer of "4175004175004172": VISAELECTRON
The issuer of "4917491749174917": VISAELECTRON
The issuer of "346416800707698": AMEX
The issuer of "376416800707698": AMEX
The issuer of "37641680070769832112": N/A
The issuer of "36641680070769": Diners Club
The issuer of "54545641680070769": N/A